/**
General page setup styles
*/

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.45;
}

body {
  margin: 0;
}

main {
  background-image: linear-gradient(to bottom left, #e0f2fe 0%, #94a3b8 100%);
  display: grid;
  height: 100svh;
  place-items: center;
}

article {
  background-color: oklch(0.1 0.2 240 / 0.95);
  border-radius: 1rem;
  box-shadow: 0.3em 0.3em 1em oklch(0.1 0.2 240 / 0.15);
  color: #f1f5f9;
  padding: 1rem;
  width: min(500px, 90vw);

  & h1 {
    line-height: 1.1;
    margin: 0;
  }

  & p {
    margin: 0.75rem 0 0;
  }

  & a {
    color: inherit;
  }

  & a:focus {
    outline-offset: 4px;
  }

  & ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;
  }
}

/**
 No way to specify the track colour for the input. Safari defaults to a dark 
 grey, which is nearly invisible on the dark blue background.

 Need to use fully custom styles to work around that.

 Thanks to: https://stackoverflow.com/a/68907798
*/

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background: linear-gradient(to right, #293043, #293043), #d7d7d7;
  background-size: var(--background-size, 0%) 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: white;
  border: solid black 1px;
  border-radius: 50%;
  margin-top: -6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
